<style>
  #cookies-banner {
    display: none;
    justify-content: center;
    align-items: center;
    padding: 1em;
    position: fixed;
    {% comment %} bottom: 0px; {% endcomment %}
    width: 100%;
    background: #fff;
    border-top: 1px solid #dcdcdc;
    z-index: 9999;
  }
  .button--green {
    font-size: 1.2rem;
    padding: 1rem 1.5rem;
    min-width: 9rem;
    min-height: 3.5rem;
  }
</style>

<div id="cookies-banner">
  <div class="page-width">
    <span>This website uses cookies to ensure you get the best experience on our website.</span>
    <span>
      <button class="button--tertiary button" style="margin-left: 1em;" onclick="handleDecline()">Decline</button>
      <button class="button--green button" style="margin-left: 1em;" onclick="handleAccept()">Accept</button>
    </span>
  </div>
</div>

<script>
  function getBannerEl() {
    return document.getElementById('cookies-banner');
  }

  function hideBanner(res) {
    getBannerEl().style.display = 'none';
  }

  function showBanner() {
   getBannerEl().style.display = 'block';
  }

  function handleAccept(e) {
    window.Shopify.customerPrivacy.setTrackingConsent(true, hideBanner);

    document.addEventListener('trackingConsentAccepted',function() {
      console.log('trackingConsentAccepted event fired');
    });
  }

  function handleDecline() {
    window.Shopify.customerPrivacy.setTrackingConsent(false,hideBanner);
  }

  function initCookieBanner() {
    const userCanBeTracked = window.Shopify.customerPrivacy.userCanBeTracked();
    const userTrackingConsent = window.Shopify.customerPrivacy.getTrackingConsent();

    if(!userCanBeTracked && userTrackingConsent === 'no_interaction') {
      showBanner();
    }
  }

  window.Shopify.loadFeatures([
    {
      name: 'consent-tracking-api',
      version: '0.1',
    }
  ],
  function(error) {
    if (error) {
      throw error;
    }

    initCookieBanner();
  });
</script>
