<style>
    .gc-usp-item__wrapper {
        display: flex;
    }
    .gc-usp-item__wrapper .gc-usp-item__item {
        width: 33.333333%;
        padding: 1rem;
    }

</style>

<div class="gc-usps__wrapper">
    <div class="gc-usps__inner page-width">
        <h2>Shopping the Gear Change way</h2>
        <div class="gc-usp-item__wrapper">
            <div class="gc-usp-item__item">Price Deals</div>
            <div class="gc-usp-item__item">Tech Advice</div>
            <div class="gc-usp-item__item">Exchanges</div>
        </div>        
    </div>
</div>
  
  {% schema %}
    {
      "name": "Gear Change USP",
      "presets": [
        {
          "name": "Gear Change USP",
          "category": "Custom"
        }
      ]
    }
  {% endschema %}