<div class="page-width">
    <h2>Shopping the Gear Change way</h2>
    <div style="display:flex">
        <div>Price Deals</div>
        <div>Tech Advice</div>
        <div>Exchanges</div>
    </div>        
</div>
  
  {% schema %}
    {
      "name": "Gear Change USP",
      "presets": [
        {
          "name": "Gear Change USP",
          "category": "Custom"
        }
      ]
    }
  {% endschema %}