<style>
    #big.gc-calls__wrapper {
        margin: 2rem 0;
    }
    #big.gc-calls__wrapper .gc-calls-item__wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    #big.gc-calls__wrapper .gc-calls-item__wrapper .gc-calls-item__item {
        width: 100%;
    }
    #big.gc-calls__wrapper .gc-calls-item__wrapper .gc-calls-item__item h3 {
    }
    #big.gc-calls__wrapper .gc-calls-item__wrapper .gc-calls-item__item p {
    }
    @media screen and (min-width: 750px) {
        #big.gc-calls__wrapper .gc-calls-item__wrapper {
            flex-direction: row;
        }
        #big.gc-calls__wrapper .gc-calls-item__wrapper .gc-calls-item__item {
            margin-bottom: 0;
        }
        #big.gc-calls__wrapper .gc-calls-item__wrapper .gc-calls-item__item:not(:first-child, :last-child) {
            margin-left: 1rem;
            margin-right: 1rem;
        }
        #big.gc-calls__wrapper .gc-calls-item__wrapper .gc-calls-item__item h3 {
        }
        #big.gc-calls__wrapper .gc-calls-item__wrapper .gc-calls-item__item p {
        }
    }  
</style>

<div id="big" class="gc-calls__wrapper">
    <div class="gc-calls__inner page-width">
        {% comment %} <h2>Talk to us, before us buy</h2>
        <p>We are a motorcycle helmet, clothing and accessories store, with a big difference! We specialise in helping you choose the gear that’s right for you, at the best possible prices.</p>  {% endcomment %}
        <div class="gc-calls-item__wrapper">
            <div class="gc-calls-item__item">
                <h3>Price Deals</h3>
                {% comment %} <p>Talk to us for our best price deals, before you buy. Put us to the test - we always try our best and you might be surprised!</p> {% endcomment %}
                <p>Ask for the best prices, before you buy. It's always worthwhile!</p>
            </div>
            <div class="gc-calls-item__item">
                <h3>Tech Advice</h3>
                {% comment %} <p>Need some help? Just ask us! Our 20 years of product experience can help you choose the gear that’s right for your riding.</p> {% endcomment %}
                <p>Need help? With 20yrs experience, we have the answers. Just ask!</p>
            </div>
            <div class="gc-calls-item__item">
                <h3>FREE Size Exchanges</h3>
                {% comment %} <p>Choosing a size can be tricky. Ask us to recommend your size and if we get it wrong, we pay for and arrange the exchange.</p> {% endcomment %}
                <p>Let us recommend your size/fit. If wrong, we pay for the exchange.</p>
            </div>
        </div>        
    </div>
</div>
  
  {% schema %}
    {
      "name": "Gear Change USP",
      "presets": [
        {
          "name": "Gear Change USP",
          "category": "Custom"
        }
      ]
    }
  {% endschema %}