<div class="custom-text-section">
    <h2>USP</h2>
  </div>
  
  {% schema %}
    {
      "name": "USP Box",
      "presets": [
        {
          "name": "USP",
          "category": "Custom"
        }
      ]
    }
  {% endschema %}