<style>
    .gc-usps__wrapper {
        {% comment %} background: var(--gradient-base-accent-1); {% endcomment %}
        {% comment %} padding: 1rem; {% endcomment %}
        margin: 2rem 0;
    }
    .gc-usp-item__wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .gc-usp-item__wrapper .gc-usp-item__item {
        width: 100%;
        padding: .75rem;
        background: var(--gradient-base-accent-1);
        border-radius: .5rem;
        margin-bottom: .5rem;
    }
    .gc-usp-item__wrapper .gc-usp-item__item h3 {
        margin: 0;
        font-size: 1.2rem;
        float: left;
        margin-right: 1rem;
        background-color: black;
        color: white;
        padding: 0rem 0.25rem;
        margin: 0 0.5rem 0 0;
        border-radius: 0.25rem;
    }
    .gc-usp-item__wrapper .gc-usp-item__item p {
        line-height: 1.4em;
        margin: 0;
        font-size: 1.2rem;
    }
    @media screen and (min-width: 750px) {
        .gc-usp-item__wrapper {
            flex-direction: row;
        }
        .gc-usp-item__wrapper .gc-usp-item__item {
            margin-bottom: 0;
        }
        .gc-usp-item__wrapper .gc-usp-item__item:not(:first-child, :last-child) {
            margin-left: 1rem;
            margin-right: 1rem;
        }
        .gc-usp-item__wrapper .gc-usp-item__item h3 {
        }
        .gc-usp-item__wrapper .gc-usp-item__item p {
        }
    }

</style>

<div class="gc-usps__wrapper">
    <div class="gc-usps__inner page-width">
        {% comment %} <h2>Talk to us, before us buy</h2>
        <p>We are a motorcycle helmet, clothing and accessories store, with a big difference! We specialise in helping you choose the gear that’s right for you, at the best possible prices.</p>  {% endcomment %}
        <div class="gc-usp-item__wrapper">
            <div class="gc-usp-item__item">
                <h3>Price Deals</h3>
                {% comment %} <p>Talk to us for our best price deals, before you buy. Put us to the test - we always try our best and you might be surprised!</p> {% endcomment %}
                <p>Ask for the best prices, before you buy. It's always worthwhile!</p>
            </div>
            <div class="gc-usp-item__item">
                <h3>Tech Advice</h3>
                {% comment %} <p>Need some help? Just ask us! Our 20 years of product experience can help you choose the gear that’s right for your riding.</p> {% endcomment %}
                <p>Need help? With 20yrs experience, we have the answers. Just ask!</p>
            </div>
            <div class="gc-usp-item__item">
                <h3>FREE Size Exchanges</h3>
                {% comment %} <p>Choosing a size can be tricky. Ask us to recommend your size and if we get it wrong, we pay for and arrange the exchange.</p> {% endcomment %}
                <p>Let us recommend your size/fit. If wrong, we pay for the exchange.</p>
            </div>
        </div>        
    </div>
</div>
  
  {% schema %}
    {
      "name": "Gear Change USP",
      "presets": [
        {
          "name": "Gear Change USP",
          "category": "Custom"
        }
      ]
    }
  {% endschema %}