<style>
    .gc-usps__wrapper {
        background: var(--gradient-base-accent-1);
        padding: 1rem;
    }
    .gc-usp-item__wrapper {
        display: flex;
    }
    .gc-usp-item__wrapper .gc-usp-item__item {
        width: 33.333333%;
        padding: 1rem;
    }

</style>

<div class="gc-usps__wrapper center">
    <div class="gc-usps__inner page-width">
        <h2>Talk to us, before us buy</h2>
        <p>We are a motorcycle helmet, clothing and accessories store, with a big difference! We specialise in helping you choose the gear that’s right for you, at the best possible prices.</p> 
        <div class="gc-usp-item__wrapper">
            <div class="gc-usp-item__item">
                <h3>Price Deals</h3>
                <p>Talk to us for our best price deals, before you buy. Put us to the test - we always try our best and you might be surprised!</p>
                <p>MORE INFO</p>
            </div>
            <div class="gc-usp-item__item">
                <h3>Tech Advice</h3>
                <p>If in doubt, just ask us. Our 20 years of product experience can help you choose the gear that’s right for your riding.</p>
                <p>MORE INFO</p>
            </div>
            <div class="gc-usp-item__item">
                <h3>FREE Size Exchanges</h3>
                <p>Choosing a size can be tricky. Ask us to recommend your size and if we get it wrong, we pay for and arrange the exchange.</p>
                <p>MORE INFO</p>
            </div>
        </div>        
    </div>
</div>
  
  {% schema %}
    {
      "name": "Gear Change USP",
      "presets": [
        {
          "name": "Gear Change USP",
          "category": "Custom"
        }
      ]
    }
  {% endschema %}