{{ 'section-main-product.css' | asset_url | stylesheet_tag }}

<style>
    #big.gc-calls__wrapper {
        margin: 2rem 0;
    }
    #big.gc-calls__wrapper .gc-calls-item__wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    #big.gc-calls__wrapper .gc-calls-item__wrapper .gc-calls-item__item {
        width: 100%;
    }
    #big.gc-calls__wrapper .gc-calls-item__wrapper .gc-calls-item__item h3 {
    }
    #big.gc-calls__wrapper .gc-calls-item__wrapper .gc-calls-item__item p {
    }
    @media screen and (min-width: 750px) {
        #big.gc-calls__wrapper .gc-calls-item__wrapper {
            flex-direction: row;
        }
        #big.gc-calls__wrapper .gc-calls-item__wrapper .gc-calls-item__item {
            margin-bottom: 0;
        }
        #big.gc-calls__wrapper .gc-calls-item__wrapper .gc-calls-item__item:not(:first-child, :last-child) {
            margin-left: 1rem;
            margin-right: 1rem;
        }
        #big.gc-calls__wrapper .gc-calls-item__wrapper .gc-calls-item__item h3 {
        }
        #big.gc-calls__wrapper .gc-calls-item__wrapper .gc-calls-item__item p {
        }
    }  
</style>

<div id="big" class="gc-calls__wrapper">
    <div class="gc-calls__inner page-width">
        {% comment %} <h2>Talk to us, before us buy</h2>
        <p>We are a motorcycle helmet, clothing and accessories store, with a big difference! We specialise in helping you choose the gear that’s right for you, at the best possible prices.</p>  {% endcomment %}
        <div class="gc-calls-item__wrapper">
            <div class="gc-calls-item__item">
                <h3>Price Deals</h3>
                {% comment %} <p>Talk to us for our best price deals, before you buy. Put us to the test - we always try our best and you might be surprised!</p> {% endcomment %}
                <p>Ask for the best prices, before you buy. It's always worthwhile!</p>
                <modal-opener class="product-popup-modal__opener no-js-hidden" data-modal="#PopupModal-PriceDeals">
                    <button id="ProductPopup-PriceDeals" class="product-popup-modal__button link" type="button" aria-haspopup="dialog">Size guide</button>
                </modal-opener>
            </div>
            <div class="gc-calls-item__item">
                <h3>Tech Advice</h3>
                {% comment %} <p>Need some help? Just ask us! Our 20 years of product experience can help you choose the gear that’s right for your riding.</p> {% endcomment %}
                <p>Need help? With 20yrs experience, we have the answers. Just ask!</p>
            </div>
            <div class="gc-calls-item__item">
                <h3>FREE Size Exchanges</h3>
                {% comment %} <p>Choosing a size can be tricky. Ask us to recommend your size and if we get it wrong, we pay for and arrange the exchange.</p> {% endcomment %}
                <p>Let us recommend your size/fit. If wrong, we pay for the exchange.</p>
            </div>
        </div>        
    </div>
</div>




  <modal-dialog id="PopupModal-PriceDeals" class="product-popup-modal">
    <div role="dialog" aria-label="Size guide" aria-modal="true" class="product-popup-modal__content" tabindex="-1">
      <button id="ModalClose-PriceDeals" type="button" class="product-popup-modal__toggle" aria-label="Close"><svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" fill="none" viewBox="0 0 18 17">
<path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
</path></svg>
</button>
      <div class="product-popup-modal__content-info">
        <h1 class="h2">Size Guide: Arai Helmets</h1>
      </div>
    </div>
  </modal-dialog>








  {% schema %}
    {
      "name": "Gear Change USP",
      "presets": [
        {
          "name": "Gear Change USP",
          "category": "Custom"
        }
      ]
    }
  {% endschema %}