<style>
    .gc-usps__wrapper {
        background: var(--gradient-base-accent-1);
        padding: 1rem;
    }
    .gc-usp-item__wrapper {
        display: flex;
    }
    .gc-usp-item__wrapper .gc-usp-item__item {
        width: 33.333333%;
        padding: 1rem;
    }

</style>

<div class="gc-usps__wrapper center">
    <div class="gc-usps__inner page-width">
        <h2>Shopping the Gear Change way</h2>
        <div class="gc-usp-item__wrapper">
            <div class="gc-usp-item__item">
                <h3>Price Deals</h3>
                <p>Talk to us for our best price deals, before you buy. We always try our best! Put us to the test!</p>
            </div>
            <div class="gc-usp-item__item">
                <h3>Tech Advice</h3>
                <p>Ask us any question. Our 20 years of product experience can help you choose the gear that’s right.</p>
            </div>
            <div class="gc-usp-item__item">
                <h3>FREE Size Exchanges</h3>
                <p>Stuck with sizes? Ask us to recommend a size. If we get it wrong, we pay for the exchange.</p>
            </div>
        </div>        
    </div>
</div>
  
  {% schema %}
    {
      "name": "Gear Change USP",
      "presets": [
        {
          "name": "Gear Change USP",
          "category": "Custom"
        }
      ]
    }
  {% endschema %}