/* EXPERIMENTAL ANNOUCEMENT BAR TABS
 #shopify-section-announcement-bar {
  display: flex;
  background: var(--gradient-base-accent-1);
  justify-content: center;
}
#shopify-section-announcement-bar .announcement-bar {
  border-right: .25rem solid var(--gradient-base-background-2);
}
#shopify-section-announcement-bar .announcement-bar:last-child {
  border-right: none;
} */


/* EXPERIMENTING COLLECTION SHELF */
#shopify-section-template--15187523174574__16333520410b464cef {
  /* padding: 1rem 0; */
}

#shopify-section-template--15187523174574__16333520410b464cef .title-wrapper-with-link {
  /* margin: 0; */
}
#shopify-section-template--15187523174574__16333520410b464cef .title-wrapper-with-link h2 {
  /* padding: 2rem 0; */
}

#shopify-section-template--15187523174574__16333520410b464cef .card--media {
  /* height: 100%;
  padding: 1rem;
  background: white; */
}

.facets__form {
  overflow: hidden;
}
.facet-filters {
  padding-left: inherit !important;
}


@media screen and (min-width: 750px) {
  #shopify-section-template--15187523174574__16333520410b464cef  .collection-list.grid--3-col-tablet .grid__item {
    max-width: 25% !important;
  }
}

/* Product Grid */
.collection-grid-section {
  background: var(--gradient-base-background-2);
  padding-top: 2rem;
}

.product-grid .grid__item {
  padding-bottom: .5rem !important;
}
@media screen and (min-width: 750px) {
  .product-grid .grid__item {
    padding-bottom: 1rem !important;
  }
}
.card-wrapper {
  height: 100%;
  background-color: white;
  padding: .5rem;
  box-shadow: 0 0.5rem 1rem #e6e6e6;
}
.card-wrapper .card-information {
  padding: 0 .5rem .5rem;
  flex-grow: 1;
}
.card-wrapper .card-information .card-information__wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 750px) {
  .card-wrapper {
    padding: 1rem;
  }
  .card-wrapper .card-information {
    padding: 0 1rem .5rem;
  }
}
.card-wrapper .card-information .card-information__text {
  padding-right: 0 !important;
  max-height: 55px;
  overflow: hidden;
}

.price {
  margin-top: auto !important;
}
.price .price__sale .price-item--sale {
  color: red;
}
.card__badge {
  display: none !important;
}

.card-wrapper .card.card--product {
  margin-bottom: 0.5rem
 !important;
}


@media screen and (min-width: 750px) {
  section[id$="featured_products"] .slider.slider--tablet {
    position: relative;
    flex-wrap: inherit;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scroll-padding-left: 1rem;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 1rem;
  }

  section[id$="featured_products"] .slider.slider--tablet .slider__slide {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}


/* PRODUCT PAGE */

/* remove SALE pill from price area */
.product .price .badge {
  display: none !important;
}

/* changes to model for size guides */
.product-popup-modal__content-info h1 {
  font-size: calc(var(--font-heading-scale) * 3rem) !important;
  margin: 0 auto 1rem !important;
}
.product-popup-modal__content-info h2 {
  font-size: calc(var(--font-heading-scale) * 2rem) !important;
  margin: 0 auto 1rem !important;
}
.product-popup-modal__content-info h3 {
  margin: 0 auto 1rem !important;
}
.product-popup-modal__content-info table {
  margin: 0 0 2rem !important;
}




/* standalone UPS call outs */
.gc-calls__wrapper {
  /* background: var(--gradient-base-accent-1);
  padding: 1rem;
  margin: 2rem 0; */
}
.gc-calls-item__wrapper {
  /* display: flex;
  justify-content: space-between;
  flex-direction: column; */
}
.gc-calls-item__wrapper .gc-calls-item__item {
  /* width: 100%; */
  padding: 1rem 1.5rem;
  background: #bed63b30;
  border-radius: .5rem;
  margin-bottom: 1rem;
}
.gc-calls-item__wrapper .gc-calls-item__item h3 {
  font-size: 1.4rem;
  float: left;
  background: var(--gradient-base-accent-1);
  color: black;
  padding: 1rem .75rem 0 1.5rem;
  margin: -1rem .75rem 0rem -1.5rem;
  border-top-left-radius: 0.5rem;
  border-bottom-right-radius: 0.25rem;
  line-height: 1.4em;
}
.gc-calls-item__wrapper .gc-calls-item__item p {
  line-height: 1.4em;
  margin: 0;
  font-size: 1.4rem;
}
@media screen and (min-width: 750px) {
  .gc-calls-item__wrapper {
  }
  .gc-calls-item__wrapper .gc-calls-item__item {
  }
  .gc-callsitem__wrapper .gc-calls-item__item:not(:first-child, :last-child) {
  }
  .gc-calls-item__wrapper .gc-calls-item__item h3 {
  }
  .gc-calls-item__wrapper .gc-calls-item__item p {
  }
}

#big.gc-calls__wrapper {
  /* background: var(--gradient-base-accent-1);
  padding: 1rem; */
  margin: 2rem 0;
}
#big.gc-calls-item__wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
#big.gc-calls-item__wrapper .gc-usp-item__item {
  width: 100%;
  padding: 1rem 1.5rem;
  background: #bed63b30;
  border-radius: .5rem;
  margin-bottom: 1rem;
}
#big.gc-calls-item__wrapper .gc-usp-item__item h3 {
  font-size: 1.2rem;
  float: left;
  margin-right: 1rem;
  background: var(--gradient-base-accent-1);
  color: black;
  padding: .75rem .5rem 0 .75rem;
  margin: -.75rem .5rem 0rem -.75rem;
  border-top-left-radius: 0.5rem;
  border-bottom-right-radius: 0.25rem;
}
#big.gc-calls-item__wrapper .gc-usp-item__item p {
  line-height: 1.4em;
  margin: 0;
  font-size: 1.2rem;
}
@media screen and (min-width: 750px) {
  #big.gc-calls-item__wrapper {
      flex-direction: row;
  }
  #big.gc-calls-item__wrapper .gc-usp-item__item {
      margin-bottom: 0;
  }
  #big.gc-calls-item__wrapper .gc-usp-item__item:not(:first-child, :last-child) {
      margin-left: 1rem;
      margin-right: 1rem;
  }
  #big.gc-calls-item__wrapper .gc-usp-item__item h3 {
  }
  #big.gc-calls-item__wrapper .gc-usp-item__item p {
  }
}
