#shopify-section-announcement-bar {
  display: flex;
  background: var(--gradient-base-accent-1);
  justify-content: center;
}
#shopify-section-announcement-bar .announcement-bar {
  border-right: red;  
}
#shopify-section-announcement-bar .announcement-bar:last-child {
  border-right: none;
}


// EXPERIMENTING COLLECTION SHELF
#shopify-section-template--15187523174574__16333520410b464cef {
}
#shopify-section-template--15187523174574__16333520410b464cef slider-component {
  background: #ebebeb;
  padding: 1rem 0;
}
#shopify-section-template--15187523174574__16333520410b464cef .card--media {
  height: 100%;
  padding: 1rem;
  background: white;
}

.facets__form {
  overflow: hidden;
}
.facet-filters {
  padding-left: inherit !important;
}


@media screen and (min-width: 750px) {
  #shopify-section-template--15187523174574__16333520410b464cef  .collection-list.grid--3-col-tablet .grid__item {
    max-width: 25% !important;
  }
}